* {
  box-sizing: border-box;
}

.notification {
  margin: 0 auto;
  width: max-content;
  height: 2rem;
  line-height: 2rem;
  font-size: 32px;
  color: #22c55e;
  font-style: italic;
  font-weight: 1000;
  background-color: #fef9c3;
}

.error {
  color: #fef9c3;
  background-color: #ef4444;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item {
  width: 300px;
  display: flex;
  gap: 1rem;
}

.list-item button {
  margin-left: auto;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
